.btn {
    height: 70px;
    width: 255px;
    border: 1px solid var(--accent-color);
    background: var(--white);
    color: var(--accent-color);
    font-size: 20px;
    margin-top: 30px;
}

@media (max-width: 690px) {
    .btn {
        height: 60px;
        width: 196px;
    }
}

@media (max-width: 510px) {
    .btn {
        height: 50px;
        width: 144px;
        font-size: 20px;
    }
}